h2{
	font-size:32px;
	font-weight:400;
	color: #000;
	padding-bottom: 15px;
	margin:0 auto;
}
h3{
	font-weight: 600;
    margin: 10px auto;
    color: #000;
    font-size: 16px;
}

h4{
	line-height: 22px;
}





@media (min-width: 992px) {
	h2{
		font-size: 24px;
		font-weight: bold;
	}
}
@media (min-width: 768px) and  (max-width: 992px){
	h2{
		font-size: 22px;
		font-weight: bold;
	}
}
@media (max-width: 768px) {
	h2{
		font-size: 20px;
		font-weight: bold;
	}
}