/*
Theme Name: Kinh An Phuc Hung
*/
body {
    font-size: 16px;
    line-height: 1.65;
    color: #666;
    overflow-x: hidden;
    font-family: serif;
}
.menu_top{
    border-bottom: 1px solid #eee;
    padding:9px 0px;
    font-size: 12px;
    background-color: #f9f9f9;
}
.menu_primary{
	margin-bottom: 0px;
}
.menu_primary a{
    font-size: 14px;
}
.menu_primary .navbar-brand{
    height: auto!important;
}
.menu_primary .navbar-right{
    margin-top: 12px;
}
.menu_primary .navbar-toggle{
    margin-top: 12px;
}
.menu_primary .navbar-toggle .icon-bar{
    background-color: #000;
}
.silde img{
	max-height: 550px;
    width: 100%;
    min-height: 240px;
}

.service{
	padding:60px 0px;
    border-bottom:1px solid #ededed !important;
    background-color: #eee;
}
.service .fa{
	color: #4a97c2;
    font-size: 22px;
}

.top{
	padding:50px 0px;
	border-bottom:1px solid #ededed !important;
}

.new {
	padding:50px 0px;
    border-bottom:1px solid #ededed !important;
    background-color: #f9f9f9;
}

.new div.lists h3{
	font-size: 16px;
	font-weight: 600;
    margin: 10px auto;
    color: #000;
    text-align: center;
}
.quanlity{
	padding:50px 0px;
	border-bottom:1px solid #ededed !important;
}
.quanlity .item{
	margin-bottom: 40px;
	padding-left: 65px;
	position: relative;
}
.quanlity .item h3{
	font-weight: 600;
    margin: 10px auto;
    color: #000;
    font-size: 16px;
}
.quanlity .item .fa{
	color: #4a97c2;
    font-size: 28px;
    position: absolute;
    left: 10px;
    top: -6px;
}

.products{
    padding:50px 0px;
    border-bottom:1px solid #ededed !important;
    background-color: #f7f7f7;
}

.products .product{
    background-color: #fff;
    border:1px solid #eee;
    margin-bottom: 10px;
}
.products .product img{
    max-height: 240px;
    width: 100%;
}
.products .product .product-text{
    padding:10px;
}
.products .product .product-text h2{
    color: #000;
    font-weight: 600;
    margin:10px auto;
    font-size: 1.231em;
}
.calling{
    padding:15px 0px;
    background-color: #3f90bd;
    border: 1px solid #ddd;
    color: #fff;
}
.footer{
    background: rgba(248,248,249,1);
    color: #777;
    padding:50px 0px;
}
.footer h3{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.footer ul{
    list-style: none;
    padding: 0;
}
.footer ul li{
    padding: 8px 0px;
    border-bottom: 1px solid #eee;
}
.footer-bottom{
    padding:20px 0px;
    background-color: #333;
    color: #888888;
    font-size: 14px;
}


